<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card shadow p-4" style="max-width: 450px; width: 100%;">
    <h3 class="text-center mb-3 brand-text">Crear Cuenta</h3>

    @if (registerSuccess) { <div class="alert alert-success">{{ registerSuccess }}</div> }
    @if (registerError) { <div class="alert alert-danger">{{ registerError }}</div> }

    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
      <div class="mb-3">
        <label for="name" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="name" formControlName="nombre">
        @if (registerForm.get('nombre')?.invalid && registerForm.get('nombre')?.touched) {
          <div class="invalid-feedback d-block">El nombre es requerido.</div>
        }
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Correo</label>
        <input type="email" class="form-control" id="email" formControlName="correo">
         @if (registerForm.get('correo')?.invalid && registerForm.get('correo')?.touched) {
          <div class="invalid-feedback d-block">El correo es requerido o inválido.</div>
        }
      </div>
      <div class="mb-3">
        <label for="phone" class="form-label">Teléfono</label>
        <input type="tel" class="form-control" id="phone" formControlName="telefono">
        @if (registerForm.get('telefono')?.invalid && registerForm.get('telefono')?.touched) {
          <div class="invalid-feedback d-block">El teléfono es requerido.</div>
        }
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="password" formControlName="contraseña">
        @if (registerForm.get('contraseña')?.invalid && registerForm.get('contraseña')?.touched) {
          <div class="invalid-feedback d-block">La contraseña es requerida (mín. 6 caracteres).</div>
        }
      </div>


      <button type="submit" class="btn btn-primary w-100" [disabled]="isLoading">
        @if (isLoading) {
          <span class="spinner-border spinner-border-sm"></span> Registrando...
        } @else {
          Registrarse
        }
      </button>
    </form>
    <hr>
    <p class="text-center">¿Ya tienes cuenta? <a routerLink="/login">Inicia sesión</a></p>
  </div>
</div>